/* 图片景点 */
.details-container{
    width:100%;height:500px;
    margin-top: 10rem;
    /* position: relative; */
}
.details-container div{
    width: 1200px;height:39px;
    /* text-align: center; */
    margin: 0 auto;
    /* position: relative; */
}
.details-container ul li{
    float: left;
}
.details-container ul li img{
    margin-right:1.1rem;
    transition: all 1.5s; 
}
.details-container ul li img:hover{
    transform: scale(1.1)
}
/* 按钮 */
.details-container .btn{
    width: 1135px;height: 40px;
    border:none;
    margin-top: 1.1rem;
    line-height: 40px;
    border-radius: 2px;
}
.details-container .btn:hover{
    cursor: pointer;
    background: #ff0;
}

/* project规划 */
.project-container{
    width: 100%;height:409px;
    position: relative;
}
.project-container .project-content{
    width: 1300px;height: 380px;
    margin: 0 auto;
    background-image: url(../img/project/wKgBS1uGD9iAEQVQAAVmvVOIQwI791.jpg);
}
.project-container img{  width: 80px; }
.project-container .project-img-1{
    position: absolute;
    top:60px;left: 775px;
}
.project-container .project-text-1{
    position: absolute;
    top:60px;left: 892px;
}
.project-container .project-img-2{
    position: absolute;
    bottom: 80px;left: 775px;
}
.project-container .project-text-2{
    position: absolute;
    bottom: 80px;left: 892px;
}
.project-container .project-img-3{
    position: absolute;
    top:60px;left: 200px;
}
.project-container .project-text-3{
    position: absolute;
    top:60px;left: 320px;
}
.project-container .project-img-4{
    position: absolute;
    bottom: 80px;left: 200px;
}
.project-container .project-text-4{
    position: absolute;
    bottom: 80px;left: 320px;
}
.project-container .pro-w{
    width: 290px;height: 100px;
}
/*  */
/*  */
.price-container{
    width: 100%;height:630px;
    position: relative;
    margin-top: 10rem;
}
.price-container ul li{ float: left;margin-right: 1.5rem}
.price-container .price-item{ 
    width: 1100px;height:616px;
    margin: 0 auto;
    position: relative;
 }
 .price-container .price-icon-txt{
    width: 243px;height:60px;
}
 .price-container .price-icon-img{
     width: 243px;height:190px;
 }
 .price-container .price-icon-img1{
    background-image: url(../img/pirce/wKgBS1tQOMaAbC_dAAIG50lQONw01.png);
}
.price-container .price-icon-img2{
    /* position: absolute;
    top:100px;left:0px; */
    background-image: url(../img/pirce/wKgBS1tQOMGAGYhlAAImyW20ziQ2.png);
}
.price-container .price-icon-img3{
    background-image: url(../img/pirce/wKgBS1rVUdKAPnfOAADXDwGu3.jpg);
}
.price-container .price-icon-img4{
    background-image: url(../img/pirce/wKgBS1tQPPqAV7ZSAAFmeGYA3SI4.png);
}
.price-container .price-icon-img5{
    background-image: url(../img/pirce/wKgBS1rVUd-AVsjNAAEN9TtjShs5jpg.jpg);
}
.price-container .price-icon-img6{
    background-image: url(../img/pirce/wKgBS1rVUdOALPIpAACi8LMXV9E6.jpg);
}
.price-container .price-icon-img7{
    background-image: url(../img/pirce/wKgBS1tQPgCAWU07AAFYTPVVBw7.png);
}
.price-container .price-icon-img8{
    background-image: url(../img/pirce/wKgBS1tQVMeAW-OuAAFo9sIawQo8.png);
}