._height{
    height:100px;
    position: relative;
}
._position1{
    position: relative;
}
.img_position{
    position: absolute;
    top:0px;left: 0px;
}
.img_position img{
    cursor: pointer;
    transition: all 0.5s;
}
.img_position img:hover{
    transform: scale(1.1)
}
._position2{
    width: 800px;
    position: absolute;
    top:0px;left: 300px;
}
ul,li{
    list-style: none;
}
._height ul li{
    float: left;
    padding:1.2rem;
}
._height a:link { 
    color: #000000; 
    text-decoration: none; 
} 
._height a:visited { 
    color: #000000; 
    text-decoration: none; 
} 
._height a:hover { 
    color: rgb(223, 223, 12); 
    text-decoration: underline; 
 }
.car_height{
    position: relative;
    height: 601px;
}
.car_height ul{
    margin: 0px;padding: 0px;
}
.car_img{
    width: 100%;
}
._shang{
    z-index: 1000px;
}